*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(232, 232, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://media.istockphoto.com/id/1312267010/id/foto/latar-belakang-banyak-potongan-pisang-pemandangan-di-atas-kepala-fotografi-makanan-studio.jpg?s=612x612&w=0&k=20&c=fHEuQ6u9ufYWAJbQ1G47TDA-3TEc6Wy65rzpIzlWNi4=);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    height: 50px;
}

.navbar-nav a{
    margin: 15px;
    font-size: 22px;
    color: red;
}

.navbar .logo{
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.navbar .logo h2{
    margin-left: 2rem;
    font-weight: 700;
    color: white;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

/*navbar*/

/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 4%;
    background-color: cadetblue;
    border-bottom: 1px black solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
}



.navbar .logo img{
    
} */

.navbar .navbar-nav a{
    display: inline-block;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 0.8rem;
    background: 2rem yellow;
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: none;
}

.navbar .navbar-nav a:hover{
    color: rgb(8, 2, 27);
    font-size: 0.9rem;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    border-bottom: 0.1rem solid rgb(10, 10, 43);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

#menu{
    display: none;
}

/* media querry */
@media screen and (max-width: 1340px){
    html{
        font-size: 75%;
    }

    #menu{
        display: inline-block;
    }

    .navbar{
        padding: 1.8rem 4%;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 9%;
        right: -100%;
        background-color: yellowgreen;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active{
        right: 0;
        transition: 1s;
    }

    .navbar .navbar-nav a{
        font-size: large;
        color: rgb(9, 8, 8);
        display: block;
        margin: 1.4rem;
    }

    .navbar .navbar-nav a:hover{
        color: brown;
        font-size: 1.6rem;
    }

    .navbar .navbar-nav a::after{
        content: '';
        display: block;
        padding-bottom: 0.2rem;
        border-bottom: 0.1rem solid brown;
        transform: scaleX(0);
        transition: 0.2s linear;
    }

    .footer{
        font-size: 75%;
    }

    .footer.nav a{
        font-size: 11px;
    }

    .credit p, a{
        font-size: 11px;
    }
}
/* end media querry */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.home .lihat{
    display: inline-block;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 0.8rem;
    background: 2rem yellow;
    border-radius: 20px;
    padding: 15px 18px;
    text-decoration: none;
}

.daftar{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.daftar .pisang button{
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 8px 13px 8px 13px;
    border-radius: 10px;
    background-color: black;
    color: yellow;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.daftar .tahu button{
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 8px 13px 8px 13px;
    border-radius: 10px;
    background-color: black;
    color: yellow;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.daftar .esbuah button{
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 8px 13px 8px 13px;
    border-radius: 10px;
    background-color: black;
    color: yellow;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

table, tr, td{
    border: 1px solid;
    width: 70%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabel{
    padding-left: 320px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: medium;
}

.bisa{
    padding-left: 25px;
}